/* footer */
.p-footer{
  &.-view {
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
  }

  &__twitter{
    color: #fff;
    font-size: 2.4rem;

    &--text{
      &.-view {
        color: #fff;
        font-size: 1.2rem;
        margin-top: 5px;
      }
    }
  }

  &__copy{
    &.-view {
      font-size: 1.2rem;
      margin-top: 20px;
      opacity: 0.5;
    }
  }
}
