/* introduction project */

.p-intro {
  text-align: center;

  &__text {
    display: inline-block;
    text-align: left;
  }

  &__button {
    &.-view {
      font-size: 2rem;
    }
  }
  & &__cardBox {
    align-items: center;
    display: flex;
    justify-content: space-around;
    max-width: 1024px;
    margin: 0 auto;
    @include media(sp) {
      margin-top: 40px;
      flex-direction: column;
      justify-content: center;
    }
    @include media(tab-min) {
      height: calc(100vh - 388px);
      margin-top: -10px;
    }
    & .p-intro__card {
      margin: 0;
    }
  }
  &__link {
    display: block;
    max-width: 280px;
    //max-height: 70%;
    @include media(sp) {
      width: 70%;
      &:not(:first-child) {
        margin-top: 40px;
      }
    }
    @media (min-width: 1001px) and (max-width: 1440px) {
      max-width: 220px;
    }
  }
}


