.p-subsidy {
  text-align: center;

  &__wrapper {
    display: inline-block;
  }

  &__jobBox {
    align-items: center;
    display: flex;
    margin-top: 24px;
  }

  &__jobImage {
    height: 60px;
    width: 60px;

    &.-view {
      background-size: contain;
    }
  }

  &__jobName {
    margin-left: 5px;

    &.-view {
      font-size: 18px;
    }
  }

  &__box {
    margin-top: 24px;
  }

  &__title {
    &.-view {
      font-size: 20px;
    }
  }

  &__item {
    margin:20px auto 0 auto;
    padding: 24px 0;
    width: 320px;

    &.-view {
      background-color: #3f51b5;
      color: #fff;
      font-size: 18px;
    }
  }

}
